---
layout: layouts/default
title: Hire Me
permalink: hire/
---

{% import 'components/atoms/breakout.njk' as breakout %}
{% import 'components/atoms/button.njk' as button %}

<p>I'm Ahmad Ainul Rizki: Indie Maker building digital products for the web and creating many startups. I like making stuff on the internet. I'm passionate about technology, privacy, time well spent, interfaces and building digital products.</p>

<h2>What I do</h2>
<p>Here are some of the things I can do for you in no particular order:</p>
<ul>
  <li>I can speak at your event, conference or give a guest lecture about building for the web.</li>
  <li>I can teach a workshop about building for the web. I can do this in-house with your team, at conferences or for smaller groups.</li>
  <li>I can be your mentor that I never had helping you develop and improve the areas we’ll work on together.</li>
  <li>I can work in-house on your digital product either as being part of the team or external 'consultant'.</li>
</ul>

<h2>Worked for</h2>
<ul>
  <li>Worked at Fabrique as a web developer on websites, boilerplates and design systems for high-profile clients while working in a large multi-disciplinary scrum team with visual designers, interaction designers and art directors.</li>
  <li>Worked at We Brand Creative as a digital designer on brand identities, strategy, concept and static website designs for small local companies.</li>
</ul>

<h2>Experience</h2>
<p>A bunch of tech things that I know about and have used. I focus on front-end and am experienced in:</p>
<ul>
  <li>HTML</li>
  <li>CSS</li>
  <li>JavaScript</li>
  <li>Node</li>
  <li>npm</li>
  <li>JAMstack</li>
  <li>Git</li>
  <li>CSS methodologies</li>
  <li>Static Site Generators</li>
  <li>Build Tools</li>
  <li>version control</li>
</ul>
<p>I care a lot about accessibility, animation &amp; interaction, performance and modular components.<p>
<p>I've dabbled with:</p>
<ul>
  <li>D3.js</li>
  <li>Data visualization</li>
  <li>React</li>
  <li>Vue</li>
  <li>Jekyll</li>
  <li>Svelte</li>
  <li>Sass</li>
</ul>
<p>But above all, I’ll learn anything else you need.</p>

<p>I know my way around design tools such as:</p>
<ul>
  <li>Sketch</li>
  <li>Figma</li>
  <li>Framer</li>
  <li>InVision</li>
  <li>Adobe Suite</li>
</ul>
<p>I do a lot of:<p>
<ul>
  <li>UI design</li>
  <li>interactive prototyping</li>
  <li>UX research</li>
  <li>wireframing creating design systems and styleguides.</li>
</ul>
<p>Often doing brand identity work, service design and design thinking &amp; strategy sessions.</p>

<h2>Contact</h2>
<p>If you are interested in any of these things you should definitely contact me.</p>

{{ breakout.breakout('Availability', '✕ Currently saying no to full-time job opportunities.', '/contact', 'Contact me') }}
