<div class="biography">
  <img src="/static/img/avatar.jpg" alt="Profile Picture">
  <p><em>Hi, I'm Ainul <a href="/contact">(@bejoistic)</a>, Digital rights activist building people-centric, responsible, sustainable and fair technology.</em>
  </p>
</div>
