<script src="https://commento.bejoistic.com/js/count.js"></script>
<script defer
  src="https://commento.bejoistic.com/js/commento.js"
  data-css-override="/css/commento.min.css"
  data-auto-init="true"
  data-no-fonts="true">
</script>

<div id="commento"></div>
