---
permalink: keybase.txt
eleventyExcludeFromCollections: true
---
==================================================================
https://keybase.io/bejoisticom
--------------------------------------------------------------------

I hereby claim:

  * I am an admin of https://bejoistic.com
  * I am bejoisticom (https://keybase.io/bejoisticom) on keybase.
  * I have a public key ASBjEF_Bc0xSiZDe-UlsJuqzKPq2TkBrbbfvX3KQpufmPgo

To do so, I am signing this object:

{
  "body": {
    "key": {
      "eldest_kid": "01202af22a3ac5293b3944d70313d9ce28dfd5e255fb937117a83a2a526140efb91f0a",
      "host": "keybase.io",
      "kid": "012063105fc1734c528990def9496c26eab328fab64e406b6db7ef5f7290a6e7e63e0a",
      "uid": "86272d77280ccdfb3b3b025de5e75619",
      "username": "bejoisticom"
    },
    "merkle_root": {
      "ctime": 1598103179,
      "hash": "fdf3be2f0765eb1a08c6446459fb68ea8a4aff596bfca007a1e28ac7f42c3fbac067f8254cee72271b37572863eed3ef4d40a847827b40ac2e696967a5d3c2e2",
      "hash_meta": "f8ddfa6ea186c6f07b39bd497392086d7f9fe625776c3ff658554b51dcd6bd93",
      "seqno": 17353270
    },
    "service": {
      "entropy": "s1pS0K4hduuQcRo+tqMM+Trz",
      "hostname": "bejoistic.com",
      "protocol": "https:"
    },
    "type": "web_service_binding",
    "version": 2
  },
  "client": {
    "name": "keybase.io go client",
    "version": "5.5.1"
  },
  "ctime": 1598103210,
  "expire_in": 504576000,
  "prev": "eb689aadd74b35a475b3339219e2decc86e3539500a8a2e91bf194b8a4ccb984",
  "seqno": 25,
  "tag": "signature"
}

which yields the signature:

hKRib2R5hqhkZXRhY2hlZMOpaGFzaF90eXBlCqNrZXnEIwEgYxBfwXNMUomQ3vlJbCbqsyj6tk5Aa223719ykKbn5j4Kp3BheWxvYWTESpcCGcQg62iarddLNaR1szOSGeLezIbjU5UAqKLpG/GUuKTMuYTEIJCg1GRVPKjSHZLViqM4EoJOFvfamj6wg6Rp2M7gCg5IAgHCo3NpZ8RAfe/jppg1n2MI0D23j0Xg9zAWgEros/Qm2G4G4Vs5e2N+wC1dPqLIpxDKed0eEsp1xhUCd/o/Z1PVwakyOZ55CqhzaWdfdHlwZSCkaGFzaIKkdHlwZQildmFsdWXEIJ1psBiw6dDEXUeXfbSgJ/8Wk0EDJSlYJn0MxuJS85L5o3RhZ80CAqd2ZXJzaW9uAQ==

And finally, I am proving ownership of this host by posting or
appending to this document.

View my publicly-auditable identity here: https://keybase.io/bejoisticom

==================================================================
