<div class="footer">
    <%= link to: Routes.contact_path(@conn, :new), class: "nostyle mr-md-3 small" do %>
        <%= icon("mail") %> Ahmad Ainul Rizki
    <% end %>
    <%= link to: "https://github.com/bejoistic/", class: "nostyle mr-md-3 small", target: "_blank" do %>
        <%= icon("github") %> GitHub
    <% end %>
</div>
