<link rel="me" href="https://bejoistic.com" type="text/html"/>
<link rel="me" href="mailto:hey@bejoistic.com"/>
<link rel="me" href="https://twitter.com/bejoistic"/>
<link rel="me" href="https://github.com/bejoistic"/>
<link rel="webmention" href="https://webmention.io/bejoistic.com/webmention"/>
<link rel="pingback" href="https://webmention.io/bejoistic.com/xmlrpc"/>
