---
layout: layouts/default
title: Donate
description: Help me cover my running costs
permalink: support/donate/
---

{% import 'components/atoms/link.njk' as link %}
{% import 'components/atoms/button.njk' as button %}

<p>I don’t run ads nor do I do this for profit. A donation however would help me cover my running costs. Choose what you'd like to donate from the items below and click on the donate button below it.</p>

<p>
  You can give me something like coffee, tea, pizza or <b>crypto money</b>. Just
  click this button.
</p>

<h3>[ International ]</h3>

<ul>
  <li>
    <a href="https://www.buymeacoffee.com/bejoistic" target="_black">Buy me a coffee</a>
  </li>
  <li>
    <a href="https://ko-fi.com/bejoistic" target="_black">Ko-fi</a>
  </li>
  <li>
    <a href="https://commerce.coinbase.com/checkout/f13a0556-9bf4-4e31-ac1c-ae40902e2f8e" target="_black">Coinbase</a>
  </li>
  <li>
    <a href="https://liberapay.com/bejoistic/donate" target="_black">Liberapay</a>
  </li>
</ul>

<h3>[ Indonesian ]</h3>

<ul>
  <li>
    <a href="https://karyakarsa.com/bejoistic" target="_black">KaryaKarsa</a>
  </li>
  <li>
    <a href="https://trakteer.id/bejoistic" target="_black">Trakteer</a>
  </li>
  <li>
    <a href="https://saweria.co/donate/bejoistic" target="_black">Saweria</a>
  </li>
</ul>
