ul.pagination li a {
  color: map_get($theme-colors, 'grey4');
}

.nav-item {
  .nav-link {
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
  }

  &.active > .nav-link {
    border-bottom: 1px solid map_get($theme-colors, 'grey2');
  }
}

.borderleft {
  border-left: 2px solid map_get($theme-colors, 'secondary');
  @extend .pl-3;
}

.bordertop {
  border-top: 2px solid map_get($theme-colors, 'secondary');
  @extend .pt-4;
}

.nav-tabs .nav-item {
  margin-right: 2px;
}

.pagination {
  li {
    margin-right: 10px;
  }

  .active {
    font-weight: bold;
  }
}

.image-container {
  @extend .mb-5;
  @extend .text-muted;
  font-size: .7rem;
  @extend .text-right;

  & > img {
    @extend .w-100;
    @extend .rounded;
    @extend .shadow;
    @extend .mb-1;
  }
}

.navbar-brand {
  font-family: $title-font;
  font-size: 1.3rem !important;
}

h1 {
  font-family: $title-font;
  font-size: 2rem !important;
  font-weight: 400;
  @extend .mb-3;
}

h2 {
  font-family: $title-font;
  font-size: 1.5rem !important;
  font-weight: 700;
  @extend .mt-3
}

h3 {
  font-family: $title-font;
  margin-top: 50px;
  font-size: 1.2rem !important;
  font-weight: 700;
}

h4 {
  font-family: $title-font;
  margin-top: 50px;
  font-size: 1.2rem !important;
  font-weight: 700;
}

.footer {
  @extend .bg-dark;
  @extend .mb-3;
  @extend .py-1;
  @extend .pl-4;
  @extend .pr-3;
  @extend .container;
  @extend .rounded-bottom;
  @extend .d-flex;
  @extend .justify-content-between;
  & > a > .eb-icon {
    height: 20px;
  }
}

.nostyle {
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  text-decoration: none;
  color: map_get($theme-colors, 'grey3');

  &:hover {
    color: map_get($theme-colors, 'grey1');
    text-decoration: none;
  }
}

.nostyle-2 {
  transition: .5s ease-in;
  -webkit-transition: .5s ease-in;
  text-decoration: none;
  color: map_get($theme-colors, 'grey3');

  &:hover {
    color: map_get($theme-colors, 'grey1');
    text-decoration: underline;
  }
}

ul.biglist {
  list-style: none;

  li {
    padding-bottom: .8rem;
  }
}

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%237c7d81' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

// application.scss
th {
  background-color: map_get($theme-colors, 'grey2');
  padding-right: 10px;
}

td {
  padding-right: 10px;
}

table {
  margin-bottom: 40px;
  margin-top: 5px;
}
