  <meta property="og:locale" content="{{ metadata.lang }}">
  <meta property="og:site_name" content="{{ metadata.author }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="https://og-image.bejoistic.com/og.jpg?title={{ title }}&amp;author={{ metadata.ogauthor }}&amp;website={{ metadata.ogwebsite }}&amp;image={{ metadata.ogavatar }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:url" content="{{ url }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="https://og-image.bejoistic.com/og.jpg?title={{ title }}&amp;author={{ metadata.ogauthor }}&amp;website={{ metadata.ogwebsite }}&amp;image={{ metadata.ogavatar }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ metadata.social }}">
  <meta name="twitter:dnt" content="on">
